header{
	background-color:blue;
}

#part_nav_bar {
    margin:auto;
    background-color:yellow;
	width:800px; 
/*	height: 200px; */
}


.navbar{
 

border-style:solid;
border-width:5px;
border-color:red;
background-color: #8DD5E7;
width:70px;
height:70px;
}

.navbar:hover{
    background-color: #7AA5E7;
}

#proc_nav{
    background-image:url('../images/CPU.png');
    background-size: 50px 50px;
    width:501px;
    height:520px;
}
#introborder {
margin-left: 90px;
padding: 15px; 
width:900px;
height:500px;
border:3px solid blue;
}
#introtitle {
font-size:250%;
font-weight:bold;
}
#inborder {
font-size:150%;
font-weight:bold;
}
#navhome a{
  text-decoration: none;
  font-size:150%;
    font-weight:bold;
}  
#legend{
    margin-left: 90px;
    font-size: 130%;
    font-weight:bold;
}
#motherboardborder{
margin-left: 90px;
padding: 15px; 
width:900px;
height:500px;
border:3px solid blue;  
}
.optionweight{
    font-size: 300%;
    font-weight:bold;
    
}



